<!-- 
<b> Query Status = <%= @qstatus %></b>
<br / > Regtext = <%= @qmodel.regtext.to_s if @qmodel%>
<br / > Qtext = <%= @qstring if @qstring%>
-->
<!--Prints to screen the current tutorial view or error message-->
<%= render :file => @lesson_name%>
<p>
  <!-- Text area for next query-->
  <%= form_tag(sqlcons_fetchquery_path, :method => "get") do %>
  <%= text_area_tag(:q, @qstring_init,:size=>"60x3") %>
  <br />
  <%= submit_tag("QueryDB", :onclick=>"this") %>
  <% end %>
  <!-- if they submitted a valid query, allow them to move on to the next section -->
  <% if @qstatus == 0%>
	<%= button_to( "Next Lesson", :action => "nextlesson") %> 
  <% end %>
  <br />
<%= render :file => @error_name if @waserror%>
<!--Prints out header row of table-->
  <% if @qresults %>
  <i><%= "Query Results"%></i>
  <table >
	<% qfields = @qresults.fields%>
	<tr>
	<% qfields.each do |headrow| %>
	  <th><%= headrow.upcase %></th>
	<%end%>
	</tr>
  <!--Prints out rows of table-->
  <% @qresults.each do |row| %>
		<tr>
		<%row.each do |col|%>
		  <td><%= col %></td>
		  <%end%>
		</tr>
		<%end %>
  </table>
  <% end %>
  <br />
</p>

