<p id="notice"><%= notice %></p>

<p>
<%= puts @qstring %>

<%= @qresults.fields %>
<br></br>
<%= 
  @qresults.each do |row|
	puts row
	puts "\n"
  end
%>

<%= debug @qresults.methods	%>
</p>
<%= link_to 'Back', students_path %>
