<p id="notice"><%= notice %></p>
<b> Regexp = <%= @qvalid %></b>
<br / > Regtext = <%= @qmodel.regtext.to_s%>
<br / > Qtext = <%= @qmodel.qtext.to_s%>
<% 
  if @qvalid 
	tutname = "tut" + session[:tutch].to_s + "-" + session[:tutsec].to_s + ".html"
  else
	tutname = "qerror.html"
  end
%>
<% fname = "/home/nate/public/trysql/app/views/sqlcons/tutorials/" + tutname %>
<!--Prints to screen the current tutorial view -->
<%= render :file => fname%>
<!-- We can render multiple files. Possibly include header/side pane to say "play away" after sucessful query-->
<p>
  <!--Text area for next query-->
  <%= form_tag(sqlcons_fetchquery_path, :method => "get") do %>
  <%= text_area_tag(:q, @qstring,:size=>"30x6") %>
  <br />
  <%= submit_tag("querydb", :onclick=>"this") %>
  <%= submit_tag("nextsec", :onclick=>"this", :name=> "nextsec" ) %>
  <%= submit_tag("nextch", :onclick=>"this", :name=> "nextch" ) %>
  <% end %>
  <br /> 
  
  <!--Prints out header row of table-->
  <table border = "1">
	<% qfields = @qresults.fields%>
	<tr>
	<% qfields.each do |headrow| %>
	  <th><%= headrow.upcase %></th>
	<%end%>
	</tr>
  <!--Prints out rows of table-->
  <% @qresults.each do |row| %>
		<tr>
		<%row.each do |col|%>
		  <td><%= col %></td>
		  <%end%>
		</tr>
		<%end %>
  </table>
  <br />
</p>
<%= link_to 'Back', sqlcons_path %>

<%# debug @qresults.methods	%>
