<!--
Regtext = <%= @qmodel.regtext.to_s if @qmodel%> | Qtext = <%= @qstring if @qstring%> 
-->
<!--Prints to screen the current tutorial view or error message-->
<div class="span6">
	<%= render :file => @lesson_name%>
	<p>
	<!-- Text area for next query-->
	<%= form_tag(sqlcons_fetchquery_path, :method => "get") do %>
	<%= text_area_tag(:q, @qstring_init,:size=>"60x3") %>
	<br />
	<%= submit_tag("QueryDB", :onclick=>"this", :class=>"btn btn-inverse") %>
	<!-- if they submitted a valid query, allow them to move on to the next section -->
	<%= link_to( "Next Lesson", sqlcons_nextlesson_path, :class=>"btn btn-success") if @qstatus == 0%> 
	<% end %>
</div>
<div class="span6">
  <%= render :file => @help_name%>
</div>
<br />
<div class="span12">
<p class="query-results">
<%= render :file => @error_name if @waserror%>
<!--Prints out header row of table-->
  <% if @qresults %>
  <% unprint = [99] %>
  <% field_chk = 0 %>
  <b><i><%="Query Results" if !@waserror%></b></i>
  <table >
	<% qfields = @qresults.fields%>
	<tr>
	<% qfields.each do |headrow| %>
	  <%if headrow == 'uid'%>
			<% unprint.push(field_chk) %>
		  <%else%>
			<th><%= headrow.upcase %></th>
		  <%end%>
	<% field_chk += 1 %>
	<%end%>
	</tr>
  <!--Prints out rows of table-->
  <% @qresults.each do |row| %>
	<% field_chk = 0 %> 	
		<tr>
		<%row.each do |col|%>
		  <% if !(unprint.include?(field_chk))%>
				<td><%= col %></td>
		  <% end %>
			  <% field_chk += 1 %>
		  <%end%>
		</tr>
  <%end %>
  </table>
  <% end %>
</p>
</div>
<br />
</p>

