<body class="index">
<h2><%= link_to "First Lesson", sqlcons_path %></h2>

<br />
  <% if @chapters %>
  <i><%= "Chapters Shortcut"%></i>
  <table >
  <tr>	
	<th>Title</th>
	<th>Description</th>
	<th>Link</th>
  </tr>
  <!--Prints out rows of table-->
  <% @chapters.each do |row| %>
  <tr>
	<td><%=row.title%></td> 
	<td><%=row.description%></td> 
	<td><%=link_to 'Start', jump_lesson_path(row.id.to_s), :class=>"btn btn-inverse"%></td> 
  </tr>
  <%end %>
  </table>
  <% end %>
<h3><%= link_to 'Reset Your Data', reset_data_path %></h3>
</body>
