<body>
<h2><%= link_to "First Lesson", sqlcons_path %></h2>

<br />
  <% if @chapters %>
  <i><%= "Chapters Shortcut"%></i>
  <table >
  <tr>	
	<th>Title</th>
	<th>Description</th>
	<th>Link</th>
  </tr>
  <!--Prints out rows of table-->
  <% @chapters.each do |row| %>
  <tr>
	<td><%=row.title%></td> 
	<td><%=row.description%></td> 
	<td><%=link_to 'start here', jump_lesson_path(row.id.to_s)%></td> 
  </tr>
  <%end %>
  </table>
  <% end %>



</body>
