<!DOCTYPE html>
<html>
<head>
  <title>TrySQL</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <span class="brand"><%=link_to_if(user_signed_in?, "TrySQL", root_path)%></span>
	  <ul class="nav">
		  <li class="divider-vertical"></li>
		  <% if user_signed_in? %>
			<li>Signed in as <%= current_user.email %>. Not you?<%= link_to "Sign out", destroy_user_session_path, :method => "DELETE"%></li>
		  <li class="divider-vertical"></li>
		  <% else %>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
			<li><%= link_to "Sign in", new_user_session_path %></li>
		  <% end %> 
		  <li class="notice"><%= notice if notice%></li>
		  <li class="notice"><%= alert if alert%></li>
	  </ul>
	  </div>
	</div>
  </div>
</div>
<%= yield %>

<!--Bottom navbar showing tables with their columns -->
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
	<div class="container">
	  <ul class="nav">
		  <li class="divider-vertical"></li>
		  <li>
			<b><i>students</b></i><table>
			  <th>id</th>
			  <th>fname</th>
			  <th>lname</th>
			</table>
		  </li>
		  <li class="divider-vertical"></li>
		  <li>
			<b><i>teachers</b></i><table>
			  <th>id</th>
			  <th>fname</th>
			  <th>lname</th>
			</table>
		  </li>
		  <li class="divider-vertical"></li>
		  <li>
			<b><i>courses</b></i><table>
			  <th>id</th>
			  <th>dept</th>
			  <th>cnum</th>
			  <th>title</th>
			  <th>cdesc</th>
			</table>
		  </li>
		  <li class="divider-vertical"></li>
		  <li>
			<b><i>course_fcts</i></b><table>
			  <th>id</th>
			  <th>year</th>
			  <th>semester</th>
			  <th>teacher_id</th>
			  <th>course_id</th>
			  <th>student_id</th>
			</table>
		  </li>
	  </ul>
	</div>
  </div>
</div>
</html>
